html, body {
    padding: 0;
    width: 100%;
    height: 100%;
 
    
}


.bg-dark{
    background-color: rgb(113, 114, 107) !important;
}

.container{
    width: 100%;
    height: 100%;
    background: lightblue;

}

.form-control{
    margin: 5px !important;
    margin-right: 5px !important;
    width: 95% !important;
}

.form-label{
    margin-left: 5px !important;
}

.rounded-circle{
    align-items: center !important;
    justify-content: center !important;
    width: 75% !important;
    margin-top: 5px !important;
    
}
